@media (max-width: 940px) {
  .toggle-menu-btn {
    display: block;
  }
  .navigation {
    position: absolute;
    left: 0;
    top: 90px;
    text-align: center;
    width: 100%;
    transform: translateY(-500px);
    transition: 0.3s;
    background-color: #f4f4ff;
    padding: 10px 0px;
  }
  .navigation li {
    display: block;
  }
  #toggle-menu:checked ~ .navigation {
    transform: translateY(0px);
  }
  .row {
    grid-template-columns: 1fr;
  }
  .banner_container {
    flex-direction: column-reverse;
  }
  .banner-left {
    text-align: center;
    width: 100%;
  }
  .banner-left h1 {
    font-size: 39px;
    line-height: 52px;
  }
  .banner_title {
    margin: 0px auto;
    font-size: 13px;
    margin-bottom: 15px !important;
  }
  .banner-left p {
    padding: 15px 0px;
  }
  /* banner & nav end */
  .company-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .signle-feature,
  .card-text {
    margin-right: 19%;
  }
  .feature_title {
    margin-right: 36%;
  }
  .jackpots-container {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  .jackpots-title h3 {
    font-size: 25px;
    line-height: 41px;
    padding: 0px;
  }
  .title-border {
    width: 200px;
    height: 2px;
    margin: 0px auto;
  }
  .jackpots-title {
    flex-direction: column;
    grid-gap: 12px;
    text-align: center;
  }
  /* jackpots section end  */
  .app_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .ultimate-feature_main {
    width: 100%;
    text-align: center;
  }
  .ultimate-feature_main {
    grid-template-columns: repeat(2, 1fr);
    color: red;
  }
  .testimonial_container {
    max-width: 521px;
    text-align: center;
    margin: auto;
  }
  .customer_review h4 {
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 10px;
  }
}
@media (max-width: 766px) {
  .company-container,
  .app_container,
  .ultimate-feature_main,
  .pricing_card {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .ultimate-feature_main {
    width: 100%;
    text-align: center;
  }
  .signle-feature {
    flex-direction: column;
    text-align: center;
    margin-right: 0;
  }
  .feature_title,
  .card-text {
    text-align: center;
    margin-right: 0;
  }
  .title-border {
    border-left: 1px solid;
    width: 200px;
    height: 2px;
    margin: 0px auto;
    background-color: #4b4a48;
  }
  .card-text h3 {
    font-size: 18px;
    line-height: 45px;
  }
  .single-jackpots {
    text-align: center;
  }
  /* jackpots section end */
  .design-right {
    width: 100%;
  }
  .design-right h2 {
    font-size: 30px;
  }
  .app-title h1 {
    font-size: 30px;
  }
  .testimonial_container {
    max-width: 521px;
    text-align: center;
    margin: 0;
  }
  .customer img {
    margin-right: 20px;
    width: 55px;
  }
  .single_card {
    width: 100%;
    padding-bottom: 11px;
  }
  .customer_review h4 {
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 10px;
  }
  .fa-arrow-right,
  .fa-arrow-left {
    max-width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dee1e6;
  }
  .customer h4 {
    font-size: 14px;
  }
  .underline {
    height: 25px;
  }
  .fa-arrow-left {
    color: #2500f9;
  }
  .customer img {
    margin-right: 8px;
  }
  .customer p {
    font-size: 11px;
  }
  .faq_title h2 {
    font-size: 30px;
    line-height: 41px;
  }
  .single_faq_title h3 {
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .single_faq_title p {
    padding: 0;
    font-size: 14px;
  }
  .single_faq h3 {
    font-size: 15px;
    line-height: 25px;
    padding-right: 10px;
  }
  .free_app_trail {
    grid-template-columns: auto;
    text-align: center;
  }
  .free_app_trail h2 {
    font-size: 37px;
    line-height: 40px;
  }
  .footer_nav ul li {
    padding: 11px 11px;
  }
  .social-icon {
    letter-spacing: 19px;
    font-size: 25px;
  }
  .footer_content p {
    font-size: 11px;
  }
}
